
$navbarBackgroundHighlight: black;
$navbarBackground: black;
$navbarText: white;
$navbarLinkColor: white;
$navbarLinkColorHover: pink;


@import 'bootstrap';

body {
	padding-top:60px;
}

@import 'bootstrap-responsive';

.footer {

	margin-top:50px;
	color: $grayLight;
		a {
			color: $gray;
		}
}
textarea#pin_description.text.optional {
	width: 450px;
}